astroid==2.3.3
autopep8==1.5.7
backports.entry-points-selectable==1.1.1
click==8.0.0
colorama==0.4.3
distlib==0.3.3
et-xmlfile==1.0.1
filelock==3.4.0
Flask==2.0.0
graphics.py==5.0.1.post1
graphics.py-extra==0.2.0
isort==4.3.21
itsdangerous==2.0.0
jdcal==1.4.1
Jinja2==3.0.0
lazy-object-proxy==1.4.3
lxml==4.5.1
MarkupSafe==2.0.0
mccabe==0.6.1
mysql-connector==2.2.9
mysql-connector-python==8.0.23
openpyxl==3.0.3
platformdirs==2.4.0
protobuf==3.15.6
pycodestyle==2.7.0
pylint==2.4.4
python-docx==0.8.10
six==1.14.0
toml==0.10.2
tp-python-docx==0.8.5
trianglesolver==1.2
virtualenv==20.10.0
Werkzeug==2.0.0
wrapt==1.11.2
